.main {/* 网页的主要内容区 */
}
.main>.block{
    width: 60%;
    max-width: 70em;
    min-width: 48em;
    box-sizing: border-box;
}

#F-main{
    flex-direction: row;
    width: 80%;
    padding: 1em;
    box-sizing: border-box;
    flex-wrap: wrap;
}

#A-main{
    padding: 4em;
}
#A-saysBox{
    padding: 0.5em 2em 2.5em 2em;
    overflow: visible;
}

.bigTitle {
    font-size: 6em;
    color: #fff;
    text-shadow: 0 0 0.2em #000;
    text-align: center;
    word-break: keep-all;
}
.bigTitle-2{
    font-size: 1.5em;
}