.main {/* 网页的主要内容区 */
    flex-direction: row;
}
.main>.block{
    width: 60%;
}

.aux {/* 侧栏 */
    min-width: 15em;
    width: 30%;
    height: 100%;
}
#A-aux {
    width: 35%;
}
#F-main{
    flex-direction: row;
    width: 80%;
    padding: 1em;
    box-sizing: border-box;
    flex-wrap: wrap;
}

#A-main{
    padding: 4em;
}
#A-saysBox{
    padding: 0.5em;
    overflow: visible;
}

.bigTitle {
    font-size: 6em;
    color: #fff;
    text-shadow: 0 0 0.2em #000;
    text-align: center;
    word-break: keep-all;
}
.bigTitle-2{
    font-size: 1.5em;
}