@import url("/css/mobile.css") screen and (max-width: 48em);
@import url("/css/desktop.css") screen and (min-width: 48em);
@import url("/css/code/atom-one-light.css");
@import url("/css/gitalk.css");
@import url("/css/markdown.css");


* {
    padding:  0;
    margin: 0;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}
body{ 
    position: relative;
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
main{
    flex: 1;
    overflow: hidden;
}
.main {/* 网页的主要内容区 */
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4em;
}

.bottomBar{
    height: 3.5em;
    margin-top: 10em;
    padding: 1em;
    background: rgb(59, 59, 59);
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.658);
    text-shadow: 0 0 0.1em #000;
    font-size: 0.8em;
    line-height: 1.6em;
}


.navline {/*导航栏的容器*/
    box-sizing: border-box;
    width: 100%;
    height: 1.6em;
    font-size: 2.0em;
    user-select: none;
    overflow: visible;
    position: absolute;
    top: 0;
    z-index: 60;
}

.navlineAmount {
    backdrop-filter: blur(2px);
    background-color: rgba(238, 238, 238, 0.2);
    box-shadow: 0 0 0.2em #888;
    position: fixed;
    background-color: #3331;
}

hr {
    width: 100%;
    margin: 0.5em 0em 0.5em 0em;
    color: #999999;
}
a {
    list-style-type: none;
    font-style: normal;
    text-decoration: none;

    color: rgb(75, 102, 255);
}

img:not(.icon) {
    background: url("/images/loading.svg") no-repeat 50% 50%;
    max-width: 100%;
}
img:not(.icon):not(#imgs-img):hover {
    transform: scale(1.01);
}

video{
    max-width: 100%;
}


.nav { /* 导航栏的链接区 */
    display: flex;
    flex-direction: row; /*水平排列*/
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    z-index: 1;
}

.nav>a {
    list-style-type: none;
    font-style: normal;
    text-decoration: none;
    padding: 0 0.1em 0.05em 0.1em;
    margin: 0.1em 0.6em 0 0.6em ;
    color: rgb(247, 212, 168);
    background: none;
    cursor: pointer;
    white-space: nowrap;
    z-index: 10;
}

.nav>a:hover{
    border-bottom: solid;
    transform: scale(1.05);
}
.nav>a:active{
    transition-duration: 300ms;
    border-bottom: solid;
    transform: scale(0.96);
}


.nav>.Select{
    border-bottom: solid;
    transform: scale(1.05);
}


.topbox{ /*页面顶部显示标题等 的容器*/
    width: 100%;
    height: 16em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

#indextopbox{
    height: 100vh;
}

.topimage { /*页面顶部背景图片的容器*/
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    height: 20em;

    overflow: hidden;
}


@keyframes BGanim {
    0% {background-position: 0% 0%;}
    50% {background-position: 100% 100%;}
    100% {background-position: 0% 0%;}
}

.BGimage { /*用于作背景的图片*/
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0em;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    animation: BGanim 70s infinite cubic-bezier(0.15, 0, 0.85, 1);
    transition-property: background-image;
    transition-duration: 600ms;
    filter: brightness(0.6);
}


.block { /*用于显示内容的框框*/
    overflow: hidden;

    border-radius: 0.1em;
    background-color: #fff;
    box-shadow: 0 0 0.2em #0008;

    /*min-width: 4em;
    /*min-height: 4em;*/
    padding: 0.8em 0 0.8em 0;
    margin: 0.5em;
    position: relative;
}

.headimage{ /*头像*/
    width: 4em;
    height: 4em;
    border-radius: 50%;
    box-shadow: 0 0 0.1em #000;
}
.headimage:hover{
    transform: scale(1.1);
}

.downbox{ /*贴在容器底部的突出容器*/
    background-color: #fff;
    box-shadow: 0 0 0.2em #000;
    
    position:absolute;

    left: 0;
    right: 0;
    bottom: 0;

    padding: 0.3em; 
    text-align: center;
}

.line{/*排成一行*/
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.row{/*排成一列*/
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
}


.list{
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: initial;
    user-select: none;
}

.list>div {
    box-shadow: 0 0 0.1em #0008;

    height: 200px;
    margin: 1em 0em 1em 0em;
    padding: 1em;

    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.list>div:hover{
    transform: translate(0em,-0.2em);
    transition-duration: 100ms;
    box-shadow: 0 0.05em 0.3em #0008;
}
.list>div:active{
    transition-duration: 100ms;
    transform: translate(0em,-0.1em);
    box-shadow: 0 0em 0.2em #0008;
}

.list>div>div>.more {/* 显示更多内容 */
    background: linear-gradient(rgba(255, 255, 255, 0),rgb(255, 255, 255));
    position:absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5em;
    padding: 0.3em; 
    text-align: center;
    z-index: 16;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;

    
}/*
#list>div>.more:hover {
    font-size: 1.1em;
}*/

.pageButtons {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    
    margin-top: 2em;
    width: 100%;
}
.pageButtons a{
    margin: 0 0.2em 0 0.2em;

    /*border: 0.15em solid rgb(68, 51, 218);*/
    padding: 0.2em 0.5em 0.2em 0.5em;
    box-shadow: 0 0 0.3em #000a;
    border-radius: 0.1em;
    cursor: pointer;
}
.pageButtons>.Select{
    transform: scale(1.1);
    background-color: #ccc;
}

.button {
    padding: 0.2em 0.5em 0.2em 0.5em;
    box-shadow: 0 0 0.1em #000a;
    border-radius: 0.1em;
    font-size: 2em;

    display: flex;
    justify-content: center;
    margin: 0.2em;
    cursor: pointer;
}

.pageButtons a:hover,.button:hover {
    transform: scale(1.1);
}
.pageButtons a:active,.button:active {
    transform: scale(0.8);
}

.abstorigtop {/*左上角的绝对定位*/
    position: absolute;
    top: 0;
    right: 0;
}
.markblock{
    /*border: 0.1em solid #000;*/
    border-radius: 0.1em;
    margin: 0.5em;
    padding: 0.1em 0.3em 0.1em 0.3em;
    background: #88f;
    color: #fff;
}


.icon {
    height: 1em;
    width: auto;
}

.srolist{/* 可滚动列表 */
    overflow: auto;
    height: 100%;
}

.friendBox{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    overflow: hidden;

    border-radius: 0.5em;
    background-color: #fff;
    box-shadow: 0 0 1em #000;

    padding: 0.5em;
    margin: 1em;
    position: relative;

    height: 4em;
    width: 16em;
    cursor: pointer;

}
.friendBox:hover{
    transform: scale(1.02);
}

.itemimage{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5em;
    box-shadow: 0 0 0.5em #000;
    z-index: 32;

    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    animation: BGanim 70s infinite cubic-bezier(0.15, 0, 0.85, 1);
}
.itemtext{
    position: absolute;
    left: 5em;
    top: 0;
    bottom: 0;
    right: 0;

    margin: 1em 0.5em 0em 0.5em;
}

.waterdiv {
    height: 44px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

@keyframes wateranim {
    0% {background-position: 0;}
    100% {background-position: 1536px;}
}

.waterdiv>div{
    background: url(/images/water.png) repeat-x;
    background-size: 1536px 100%;
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    animation: wateranim 16s infinite linear;
    
}

.downpage{
    background: url(/images/down.png) repeat-x;
    background-size: contain;
    width: 100%;
}


#mebox{
    padding: 0.5em;
    background: rgba(238, 238, 238, 0.411);
    box-shadow: 0 0 0.05em #0008;
    height: 4em;
    width: 20em;
    color: #fff;
    text-shadow: 0 0 0.4em #000f;
    z-index: 7;
}

#mebox:hover{
    overflow: visible;
    transform: scale(1.05) translate(0,-60%);
    background-color: rgba(238, 238, 238, 0.9);
}

.bigTitle2{
    color: #fff;
    text-shadow: 0 0 0.2em #0008;
    font-size: 2em;
    text-align: center;
}

#imgs-box{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    background-color: #0008;
    z-index: 666;
    display: none;
    justify-content: center;
    align-items: center;
}


#me-mess{
    padding-top: 0.5em;
}

/* 当页面高度过窄 */
@media screen and (max-height: 500px){
    #mebox{
        display: none;
    }
}

.homeBtnBox{
    display: flex;
    position: relative;
    z-index: 6;
}

.homeBtnBox > img{
    display: block;
    background-color: #fff8;
    height: 2em;
    padding: 0.2em;
    cursor: pointer;
    border-radius: 0.3em;
    margin: 0.1em;
    transition-duration: 100ms;
}
.homeBtnBox > img:hover{
    transform: scale(1.05) translate(0,-0.1em);
}
.homeBtnBox > img:active{
    transform: scale(0.95) translate(0,0.1em);
}

#bgvideo {
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    z-index: -1;
    background: rgb(16, 16, 16) url("/images/loading.svg") no-repeat center;
}

.noVisChilds > *:not(.mustVis){
    opacity: 0;
    transform: translate(0,10vh);
    pointer-events: none;
}
.noVisChilds > .homeBtnBox{
    transform: translate(calc(50vw - 3em),-20vh);
    flex-direction: column;
}


.tools{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    user-select: none;
    text-align: center;
}
.tools > div{
    position: relative;
    height: 12em;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    color: #fff;
    text-shadow: 0 0 0.25em #000;
    cursor: pointer;
    flex-grow: 1;
}

.tools .toolTitle{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(4px);

    font-size: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #aaa3;
    pointer-events: none;
    z-index: 1;
}
.tools> div:hover .toolTitle{
    opacity: 0;
}
.tools .toolMess{
    height: 100%;
    width: 100%;
    padding: 1.5em;
    background-color: #0005;
    box-sizing: border-box;
    word-wrap: anywhere;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tools .toolhoka{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 1em;
    background: #0004;
    padding: 0 1.5em;
    display: flex;
    align-items: center;
}

.tools .toolhoka:hover{
    background: #0008;
}

#netdeviframe{
    height: 100vh;
    overflow: hidden;
    padding: 0 0 0 0;
}