.main {/* 网页的主要内容区 */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;

}
.main>.block{
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}
.navline {/*导航栏的容器*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    font-size: 2.0em;
    padding-left: 1em;
    padding-right: 1em;
    user-select: none;
    overflow: hidden;
    position: absolute;
    top: 0;

    background: linear-gradient(rgba(0, 0, 0, 0.425),rgba(0, 0, 0, 0));
    
}

.aux {/* 侧栏 */
    width: 100%;
}
.aux>.block{
    width: 100%;
    margin: 0;
    margin-top: 0em;
    
    box-sizing: border-box;
}

#mebox {
    display: none;
}
#F-main{
    flex-direction: row;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin: 0;
}
#A-main{
    padding: 2em;
    border-radius: 1em 1em 0 0;
}
#A-saysBox{
    padding: 1em;
    overflow: visible;
    border-radius: 0 0 1em 1em;
    box-shadow: none;
}