.main {/* 网页的主要内容区 */
}
.main>.block{
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

#F-main{
    flex-direction: row;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin: 0;
}
#A-main{
    padding: 2em;
    border-radius: 0.5em 0.5em 0 0;
}
#A-saysBox{
    padding: 1em;
    overflow: visible;
    border-radius: 0 0 1em 1em;
    box-shadow: none;
}



.bigTitle {
    font-size: 12vw;
    /*
    color: #fff;
    text-shadow: 0 0 0.2em #000;
    flex-wrap: nowrap;
    word-break: keep-all;
    height: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;*/
    color: #fff;
    text-shadow: 0 0 0.2em #000;
    text-align: center;
    word-break: keep-all;
}
.bigTitle-2{
    font-size: 3vw;
}

body{
    font-size: 3vw;
}